<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.framework.dao.mysql.dao.CrAccidentRecordMapper" >
  <resultMap id="BaseResultMap" type="com.test.framework.dao.mysql.entity.CrAccidentRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="vehicle_id" property="vehicleId" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="accident_time" property="accidentTime" jdbcType="TIMESTAMP" />
    <result column="accident_address" property="accidentAddress" jdbcType="VARCHAR" />
    <result column="accident_type" property="accidentType" jdbcType="VARCHAR" />
    <result column="accident_class" property="accidentClass" jdbcType="CHAR" />
    <result column="confirmation_code" property="confirmationCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.test.framework.dao.mysql.entity.CrAccidentRecord" extends="BaseResultMap" >
    <result column="accident_content" property="accidentContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, vehicle_id, order_id, accident_time, accident_address, accident_type, accident_class, 
    confirmation_code, create_time, update_time, create_by, update_by
  </sql>
  <sql id="Blob_Column_List" >
    accident_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cr_accident_record
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByOrderId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cr_accident_record
    where order_id = #{orderId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cr_accident_record
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteAll">
    delete from cr_accident_record
  </delete>
  <insert id="insert" parameterType="com.test.framework.dao.mysql.entity.CrAccidentRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into cr_accident_record (id, vehicle_id, order_id, 
      accident_time, accident_address, accident_type, 
      accident_class, confirmation_code, create_time, 
      update_time, create_by, update_by, 
      accident_content)
    values (#{id,jdbcType=BIGINT}, #{vehicleId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, 
      #{accidentTime,jdbcType=TIMESTAMP}, #{accidentAddress,jdbcType=VARCHAR}, #{accidentType,jdbcType=VARCHAR}, 
      #{accidentClass,jdbcType=CHAR}, #{confirmationCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{accidentContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.framework.dao.mysql.entity.CrAccidentRecord" useGeneratedKeys="true" keyProperty="id">
    insert into cr_accident_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vehicleId != null" >
        vehicle_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="accidentTime != null" >
        accident_time,
      </if>
      <if test="accidentAddress != null" >
        accident_address,
      </if>
      <if test="accidentType != null" >
        accident_type,
      </if>
      <if test="accidentClass != null" >
        accident_class,
      </if>
      <if test="confirmationCode != null" >
        confirmation_code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="accidentContent != null" >
        accident_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="vehicleId != null" >
        #{vehicleId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="accidentTime != null" >
        #{accidentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accidentAddress != null" >
        #{accidentAddress,jdbcType=VARCHAR},
      </if>
      <if test="accidentType != null" >
        #{accidentType,jdbcType=VARCHAR},
      </if>
      <if test="accidentClass != null" >
        #{accidentClass,jdbcType=CHAR},
      </if>
      <if test="confirmationCode != null" >
        #{confirmationCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="accidentContent != null" >
        #{accidentContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.framework.dao.mysql.entity.CrAccidentRecord" >
    update cr_accident_record
    <set >
      <if test="vehicleId != null" >
        vehicle_id = #{vehicleId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="accidentTime != null" >
        accident_time = #{accidentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accidentAddress != null" >
        accident_address = #{accidentAddress,jdbcType=VARCHAR},
      </if>
      <if test="accidentType != null" >
        accident_type = #{accidentType,jdbcType=VARCHAR},
      </if>
      <if test="accidentClass != null" >
        accident_class = #{accidentClass,jdbcType=CHAR},
      </if>
      <if test="confirmationCode != null" >
        confirmation_code = #{confirmationCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="accidentContent != null" >
        accident_content = #{accidentContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.test.framework.dao.mysql.entity.CrAccidentRecord" >
    update cr_accident_record
    set vehicle_id = #{vehicleId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      accident_time = #{accidentTime,jdbcType=TIMESTAMP},
      accident_address = #{accidentAddress,jdbcType=VARCHAR},
      accident_type = #{accidentType,jdbcType=VARCHAR},
      accident_class = #{accidentClass,jdbcType=CHAR},
      confirmation_code = #{confirmationCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      accident_content = #{accidentContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.framework.dao.mysql.entity.CrAccidentRecord" >
    update cr_accident_record
    set vehicle_id = #{vehicleId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      accident_time = #{accidentTime,jdbcType=TIMESTAMP},
      accident_address = #{accidentAddress,jdbcType=VARCHAR},
      accident_type = #{accidentType,jdbcType=VARCHAR},
      accident_class = #{accidentClass,jdbcType=CHAR},
      confirmation_code = #{confirmationCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>